/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 10px 10px 0px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 800;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;

}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ff385c;
  
}

form label {
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: space-between;
}

form select,
form input {
  margin-bottom: 20px;
  width: 65%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  p {
    font-size: 14px;
  }
  header {
    display: flex;
  }
  header nav {
    flex: 1;
    justify-content: flex-end;
  }

  header nav ul {
    justify-content: right;
  }

  .logo {
    font-size: 42px;
  }
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: wrap;
  }
  form div {
    flex: 1;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  form button {
    flex: 1;
  }
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #ideas .group {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #ideas div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
  }
  .host{
    flex-direction: column;
    justify-content: center;
  }
 body {
   display: grid;
 }
 .host-list {
  font-size: 14px;
 }
}
