/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  text-align: center;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
  display: flex;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 50%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: auto;
  padding: 15px;
  width: 100%;
}

form button div {
  display: flex;
  justify-content: center;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 650px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul {
    align-items: center;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }

  .vacation-form {
    flex-direction: row;
  }

  .vacation-form .item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item label,
  .item input,
  .item select,
  .item button {
  display: flex;
  width: 100%;
  flex: 1;
  }

  .grid-column {
    display: flex;
    flex: 1;
    flex-direction: column; 
    margin: 10px;
  }

  .grid-row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}