/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  height: auto;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  flex: 1;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: center; /* Center the navigation items for mobile view */
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 100%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
  text-align: center;
}

footer p {
  color: #fff;
  padding: 20px;
  margin: 0;
}

/* -------  Media Queries ------- */

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    margin-top: 10px;
  }

  #stay form {
    display: flex;
    justify-content: space-between;
  }

  #about {
    display: flex;
    align-items: center;
  }

  #about img {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
  }

  #about p {
    flex: 2;
  }

  #ideas img {
    width: 100%;
  }

  #ideas h3 {
    text-align: center;
  }

  #ideas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
  }

  #host {
    display: flex;
    align-items: center;
  }

  #host img {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
  }

  #host p {
    flex: 2;
  }
}
