/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  display: flex;
  flex-direction: column;
}

section.alternate-background img {
  width: 100%;
  margin: 10px, 10px;
  padding: 15px 0px;
}

#ideas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

#ideas img {
  width: 100%;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  display: flex;
  flex-direction: column;
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/*display(more than 600px) for big screen like desktop*/

@media screen and (min-width: 600px) {
  /* -------  Navigation ------- */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff385c;
    padding: 10px 20px 0 20px;
    text-align: center;
  }

  header nav {
    padding-top: 20px;
    margin-bottom: 10px;
  }
  /*form*/
  #stay form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  form button {
    padding: auto;
    margin-bottom: 0px;
    margin-left: 50px;

    width: 25%;
  }
  /*-------About--------*/
  section.alternate-background {
    flex-direction: column;
    padding-left: 0px;
    padding-bottom: 2px;
  }
  
  .row {
    flex-direction: column;
    margin-left: 10px;
  }

  .row-big-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .row-big-screen img {
    max-width: 24%;
    margin-left: 15px;
    margin-top: -14px;
  }

  #about div p {
    padding: 30px 10px;
  }

  /*...Ideas....*/
  #ideas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #ideas h3 {
    margin-bottom: 10px;
  }

  #ideas img {
    max-width: 488px;
    max-height: 276px;
    margin-bottom: 28px;
  }

  #ideas .ideas-images {
    display: flex;
    flex-direction: row;
  }

  #ideas .ideas-images .column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 149px;
  }

  #ideas .ideas-images .column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 16px;
  }
  /*----host---*/

  #host .alternate-background {
    display: flex;
    flex-direction: row;
  }

  #host img {
    width: 42%;
  }

  #host {
    flex-direction: row;
    justify-content: space-around;
    /* padding-left: 0px; */
    padding-bottom: 2px;
  }

  #host div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px 0px 10px;
  }

  .to-hide{
    display: none;
  }
}

@media screen and (max-width:600px) {
  .repeat-image{
    display: none;
  }
  
}
